### Conditional statements
- if
- if-else
- if-elif-else
#### Loops
- For
- While
##### Strings
- Declaring a string
- Accessing the elementsw from astring
- string methods

### Conditional statements
 ##### Syntax
- if
```python
if condition:
    block of code
```
- if-else
```python
if condition:
    block of code
else:
    block of code
```
- if-elif-else
```python
if condition:
    block of code
elif condition:
    block of code
else:
    block of code
```

In [1]:
a = 5
b = 10

if a > b:
    print(a, " is a bigger")
else:
    print(b, " is a bigger")

10  is a bigger

In [3]:
a = 10
b = 10

if a > b:
    print(a, " is a bigger")
elif b > a:
    print(b," is a bigger")
else:
    print("both are equal")

both are equal

In [6]:
a = 5
b = 10
c = 7

if a > b and a > c:
    print(a, " is a bigger")
elif b > c :
    print(b, " is a bigger")
else:
    prinnt(c,"is a bigger")

10  is a bigger

- check input number is even or not

In [5]:
a = int(input("enter a number"))

if a % 2 ==0:
    print(a,"is even")
else:
    print(a,"is not even")

enter a number3
3 is not even

- verify given year is leap year or not

In [3]:
year = int(input("enter a year"))

if (year % 400 == 0) or (year % 4== 0 and year %100!=0):
    print(year,"is leap year")
else:
    print(year,"is not leap year")

enter a year2021
2021 is not leap year

Calculator Application

- 2 input number
- Arthematic operation

In [8]:
a = int(input("enter a number"))
b = int(input("enter a number"))
arthe = input("what arthematic operation need to perform: ")

if arthe =='+':
    print(a + b)
elif arthe == '-':
    print(a - b)
elif arthe == '*':
    print(a * b)
elif arthe == '/':
    print(a / b)
else:
    print("given arithematic operation is invalid")

enter a number5
enter a number4
what arthematic operation need to perform: %
given arithematic operation is invalid

### Loops

execute the block of code for multiple times

- Initialization
- condition
- inc/dec

### Syntax

- for loop -> how many times i need to execute the loop
```python
for variable in groupofdata:
    block of code
```

- while loop -> based on condition 
```python
variable initialization
while condition:
    block of code
    inc/dec
```


### Group of number

range(intialization, condition, inc/dec)

range(start, stop, step)

cond-> requried arg
inti-> 0
inc/dec -> +1

Display 1 to 100 numbers to the users

start = 1, condition >101, step=1

In [16]:
for i in range(1, 101, 1):
    print(i, end= "\t")

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49	50	51	52	53	54	55	56	57	58	59	60	61	62	63	64	65	66	67	68	69	70	71	72	73	74	75	76	77	78	79	80	81	82	83	84	85	86	87	88	89	90	91	92	93	94	95	96	97	98	99	100

In [17]:
for i in range(101):
    print(i, end= "\t")

0	1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49	50	51	52	53	54	55	56	57	58	59	60	61	62	63	64	65	66	67	68	69	70	71	72	73	74	75	76	77	78	79	80	81	82	83	84	85	86	87	88	89	90	91	92	93	94	95	96	97	98	99	100

In [18]:
for i in range(1, 101, 2):
    print(i, end= "\t")

1	3	5	7	9	11	13	15	17	19	21	23	25	27	29	31	33	35	37	39	41	43	45	47	49	51	53	55	57	59	61	63	65	67	69	71	73	75	77	79	81	83	85	87	89	91	93	95	97	99

Even number between 1 to 1000

In [20]:
for i in range(1, 50, 1):
    if i % 2==0:
        print(i, end= "\t")

2	4	6	8	10	12	14	16	18	20	22	24	26	28	30	32	34	36	38	40	42	44	46	48

1. get the leap years between the given range which is  start and ending range given by user 

2. get prime  numbers  between range

3. get n no of fibonacci series

#### Leap years

In [44]:
year = int(input("enter the year to start  "))
year1 = int(input("enter the year to end "))

for year in range(year,year1,1):
    if year % 4==0:
        print(year,end='\t')

enter the year to start  1997
enter the year to end 2021
2000	2004	2008	2012	2016	2020

### Prime numbers

In [71]:
a = int(input("enter the value"))
b = int(input("enter the value"))
if a>1 and b >1:
    for i in range(a,b,1):
        for j in range(2,b):
            if i % j == 0:
                print(i)

enter the value20
enter the value30
20
20
20
20
20
21
21
21
22
22
22
23
24
24
24
24
24
24
24
25
25
26
26
26
27
27
27
28
28
28
28
28
29

### Fibonacci series

In [61]:
num = int(input("enter the value "))
a = 0
b = 1
print(a," ",b,end='\t')
if num > 0:
    for i in range(1,num,1):
        c=a+b
        print(c,end='\t')
        a=b
        b=c

enter the value 6
0   1	1	2	3	5	8

### while loop

In [24]:
a = 1
while a < 50:
    print(a, end='\t')
    a += 1

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49

- Break: To terminate the execution of the loop
- continue: Skip the current execution of the loop

print the numbers between 1 to 100 whenever i reached 50 stop travelling

In [27]:
for i in range(1,101,1):
    if i == 50:
        break
    else:
        print(i,end="\t")

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49

In [28]:
for i in range(1,101,1):
    if i == 50:
        break
    elif i % 2==0:
        continue
    print(i,end="\t")

1	3	5	7	9	11	13	15	17	19	21	23	25	27	29	31	33	35	37	39	41	43	45	47	49

In [29]:
while True:
    inp = input()
    if inp == 'cancel':
        print("Loop terminated")
        break
    print(inp)

hjjcf
hjjcf
gsfg
gsfg
dgds
dgds
rrfgdza
rrfgdza
safasvfd
safasvfd
cancel
Loop terminated

### Strings 

group of date enclose between " ", ' ', "" "", '' '' are called strings in python


### Properties 

- Immutable data type ->cannot change
- it it iterable -> can use over the loops -> each and every character from string

In [33]:
s= ""
s2= str()

In [40]:
s = 'i am  a single line string'
s1 = "i'm string"
s2 = '''a distinct section of
by a new line,
indentation, or numbering.'''
s3= """i'm string
a distinct section of
by a new line,
indentation, or numbering."""

In [32]:
print(type(s),type(s3))

<class 'str'> <class 'str'>

In [37]:
for char in s1:
    print(char)

i
'
m

s
t
r
i
n
g

In [38]:
for char in s1:
    print(char,end = '\t')

i	'	m	 	s	t	r	i	n	g

In [41]:
print(s)

i am  a single line string