# Python Basics

- Output & Input
- Variables
- Type Conversion
- Operators
- Conditional statements

In [1]:
print("hello world")

hello world

In [2]:
print(1)

1

In [3]:
print("todays date is",29)

todays date is 29

In [5]:
print("Todays date is",29,sep = '-')

Todays date is-29

In [6]:
print(1,2,3,4,5,6, sep = '\t')

1	2	3	4	5	6

In [7]:
print(1,2,3,4,5,6, sep = 'abc')

1abc2abc3abc4abc5abc6

In [8]:
print("Hello World")
 print("Hello world")
print("hello wolrd1")

Hello World
Hello world
hello wolrd1

In [9]:
print("Hello World", end = '\t')
print("Hello world")
print("hello wolrd1")

Hello World	Hello world
hello wolrd1

### Variables

## Properties to declare a variable

- It can contain A-Z,a-z,0-9_
- It shouldnot start with a number
- No special characters should included in variables name except `_`
- Keywords are not allowed
- Case Sensitive

In [10]:
a = 10
A = 5

In [11]:
print(a)

10

In [19]:
a = 55
_a = 225.5
# 1a = 52     
# a-b = 144+453
_ = 526
a9 = 'preeti'
a9_ = 'learner'

###  Data Types in Python

- Primary Data types ->int, float, string, boolean, complex
- Secondary data types ->Containers -> list, tuple, dictonaries, set

In [20]:
a = 41
b = 42.54
c = 5 + 7j
d = True
e = 'a+5/.,;'
f = ['pyhton',73,5+9j,353.3]
g = ('pyhton',73,5+9j,353.3)
h = {'name': 'python'}
i = {1,2,3}

In [21]:
type(a)

int

In [22]:
type(g)

tuple

In [23]:
print(type(a))

<class 'int'>

In [25]:
a = 45.2

print(type(a), type(i))

<class 'float'> <class 'set'>

In [27]:
a = input("enter value ")

enter value 52

In [28]:
print(i)

{1, 2, 3}

In [29]:
print(type(a))

<class 'str'>

In [31]:
b = input()

[1,2,3]

In [32]:
print(type(b))

<class 'str'>

### Type Conversions

In [33]:
a = int(input())

print(a,type(a))

123
123 <class 'int'>

In [34]:
a = int(input())

print(a,type(a))

235.444

ValueError: invalid literal for int() with base 10: '235.444'

In [36]:
a = float(input())

print(a,type(a))

566.86
566.86 <class 'float'>

In [38]:
a = Str(input())

print(a,type(a))

NameError: name 'Str' is not defined

### Number System

- Decimal -> 10 -> 0-9
- Binary -> 2 -> 0,1
- Octal -> 8 -> 0-7
- Hexadecimal -> 16 -> 0-F

In [39]:
a = 45

print(bin(a), oct(a), hex(a))

0b101101 0o55 0x2d

In [40]:
print(int('101101', 2), int('55', 8), int('2d', 16))

45 45 45

In [41]:
print(ord('a'))

97

In [42]:
print(chr(52))

4

In [43]:
print(chr(67))

C

### Operators

- Arthematic Operator ->+, -, *, /, %, //, **
- Logical -> and, or, not
- Comparison/relational -> >, <, <=, >=, ==, !=
- Bitwise Operator -> &(and), |(or), ~(NOT), ^(XOR), <<(left shift), >>(right shift)
- ASsignment Operator -> +=, -=, /=, %=, //=, **=
- Identity Operators -> is,  not is
- Membership Operators -> in, not in

In [46]:
a = 5
b = 4


print(a+b,a-b,a*b,a/b,a%b,a**2,a//b , sep = '->')

9->1->20->1.25->1->25->1

In [51]:
a = 1
b = 0
c = '0'

print(a and b,a or b,not a, a and c, not c,type(a and c), sep = '->')

0->1->False->0->False-><class 'str'>

In [50]:
print(c and a, a or c)

1 1

In [52]:
a = 3
b = 2
c = 0

print(a and b)

2

In [53]:
print(a and c, c and a)

0 0

In [54]:
a = 8
b = 2

print(a < b, a > b, a == b)

False True False

In [55]:
a = 4
b = 5
 
print(a & b, a | b, ~a)

4 5 -5